.CartPage {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  
}


/* style for cart items */
.cart-container {
  /* margin-top: 20px; */
  width: 400px;
  padding : 20px;
}
.cart-container-info {
  display: flex;
  flex-direction: column;
  gap : 20px;
  align-items: center;
  margin-bottom: 20px;
  
}

.cart-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-container ul {
  background: #18273f;
  list-style-type: none;
  padding: 30px;
}

.cart-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-container li img {
  width: 80px; /* Adjust the width as desired */
  height: auto;
  margin-right: 10px;
}

.cart-container span {
  font-weight: bold;
}

.cart-container input[type="number"] {
  width: 50px;
}

.cart-container button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


/* style for cart summary */

.cartSummary {
  width: 400px;
  height: 200px;
  /* background-color: #18273f; */
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
    radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
  padding: 20px;
  margin: 40px;
}


